<nav class="site-nav">
  <ul class="nav-list">
    {% for item in site.html_pages %}
      {% unless item.nav_exclude %}
        {% if page.title == item.title %}
          {% assign class = "nav-item active" %}
        {% else %}
          {% assign class = "nav-item" %}
        {% endif %}
        <li class="{{class}}">
          <a href="{{item.url}}" {% if page.title == item.title %}aria-current="page"{% endif %}>
            {{item.title}}
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
